
<div style="text-align:center">
  <h1 style="color: rgba(82, 33, 82, 0.301)">
     {{ title }}!
  </h1>
  <div>
    <!-- <h3 align="center" style="color: darkmagenta">YENEPOYA INSTITUTE OF TECHNOLOGY</h3> -->
    <!-- <h5 align="center" style="color: crimson">(Approved by AICTE, New Delhi, Affiliated to Visvesvaraya Technological University, Belgavi)</h5> -->
  
  </div>
  <h4 align="center" style="color: rgb(33, 35, 41)"></h4>
  <img width="50%" align="center" alt="homeimg" src="assets/image/img1.jpg">

</div>
