
<html>
  <body>
        <div align='right'>
  <nav style="font-size: 30px">
    <img width="50" align="left" alt="homepic" src="assets/image/img2.png">

      <a routerLink="/about">ABOUT</a> &nbsp; &nbsp; &nbsp;
      <a routerLink="/products">PRODUCTS</a>&nbsp; &nbsp; &nbsp;
      <a routerLink="/contactus">CONTACT US</a>&nbsp; &nbsp; &nbsp;
      <!-- <a routerLink="/feedback">FEEDBACK</a>&nbsp; &nbsp; &nbsp; -->
      <a routerLink="/login">LOGIN</a>&nbsp; &nbsp; &nbsp;
      
  
  </nav>
</div>
  </body>
  </html>
  
  
  <router-outlet></router-outlet>
  