
<div class="container">  
        <div align='left'>
    
        </div>
    <form>  
        <div align='left'>
      <div class="form-group">  
        <label for="name">User Name :</label>  
        <input type="text" class="form-control" id="name" required>  
      </div>  
      <br>
      <div class="form-group">  
            Feedback: <textarea rows="4" cols="50"></textarea><br><br>
            <button type="submit" class="btn btn-success">Send</button>&nbsp; &nbsp;  
      </div>     
            <script>
            function myFunction() {
              var x = document.getElementById("myInput");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
            </script>
             
      </div>  
      <br>
      
      

    </form>  
  </div>   
  <!-- <router-outlet></router-outlet> -->
