<div>
        <h3 align="left">Western</h3>
        <figure>
            <img width="200" align="left" alt="homepic" src="assets/image/imgw.jpg">
            <div class="form-group">  
    
                    <label for="Size">Choose size</label> &nbsp;
                   <select class="form-control" id="Size" required>  
                      <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
                    </select>  
                  </div>  
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <div>
                      <a routerLink="/products"><b>Back</b></a> &nbsp; &nbsp; &nbsp;   
                  </div>
          </figure>
               
        
     </div>
    
